<%= render 'shared/navbar' %>

<div class="container d-flex justify-content-center" id="banner">
  <div class="big-avatar-profile" style="background-image: url(<%= current_user.photo_url %>)"></div>
</div>

  <div class="new-flat-page">
    <div class="wrapper-dashboard pt-5">
      <div class="container">
        <h1 class="name-header mb-4"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h1>
        <h3>Last 4 months expenses</h3>

        <div class="chart mb-4">
          <% month_index = Expense::MONTHS.index(@month) %>
          <% data = UserExpense.joins(:expense).where("user_expenses.user_id = ?", @user.id).where("expenses.payment_month" => month_range_expenses(3)).where("expenses.payment_year" => [2020, 2021]).group('expenses.category').group("expenses.payment_month").sum("expenses.amount") %>
          <%#= data %>
          <%= column_chart data, stacked: true, legend: false, colors: ['#E9CD72', '#D39CD3', '#FF707A', '#00ABE7'], height: '250px', messages: {empty: "No expenses"} %>
        </div>

        <div class="categories d-flex mb-3 justify-content-around">
          <% @categories.each do |category| %>
            <div class="category d-flex align-items-center py-4">
              <i class="fas fa-circle circle-<%= category.downcase %> mr-1"></i>
              <p class="mb-0"><%= category %></p>
            </div>
          <% end %>
        </div>

        <h3 class="mt-4">Your month expenses</h3>

        <div class="expenses">
          <% @monthly_expenses.reverse.each do |expense| %>
            <%= link_to flat_expense_path(current_user.flat, expense) do  %>
              <div class="card-expense">
                <div class="small-avatar" style="background-image: url(<%= expense.creator.photo_url %>)"></div>
                <div class="color-separator expense-category-<%= expense.category.downcase %>"></div>
                <div class="expense-info">
                  <h5 class="expense-category"> <%= expense.category %> </h5>
                  <p> <%= expense.created_at.strftime("%m/%d/%Y") %> </p>
                </div>
                <div class="card-price">
                  <h3 id="
                  -bold mb-0">- <%= format_cost(expense.amount) %>€ </h3>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>
  </div>

