<h2>Your expenses this month</h2>

<%= simple_form_for(:date, url: monthly_summary_path, method: :get) do |f| %>
<%= f.input :date, as: :date, discard_day: true, discard_year: true %>
<%= f.submit 'Search' %>
<% end %>

<div class="expenses">
    <% @expenses.each do |expense| %>
  <div class="expense-card">
    <strong><p><%= expense.description %></p></strong>
    <p>€ <%= expense.amount %></p>
    <% end %>
  </div>
</div>
