<%= render "shared/navbar" %>

<div class="container">

  <div class="big-avatar" style="background-image: url(<%= @user.photo_url %>)"></div>

  <% if params[:date].nil? %>
    <h2>This are all your expenses</h2>
  <% else %>
    <h2>This are all your expenses for <%= @month %></h2>
  <% end %>
  <div class="avatar"></div>

  <div class="chart mb-4">
    <% data = UserExpense.joins(:expense).where("user_expenses.user_id = ? and expenses.payment_month = ?", @user.id, @month).group("expenses.category").count %>
    <% colors = [] %>
    <% data.each do |score, _| %>
      <% colors << Expense.map_cat_to_color(score) %>
    <% end %>
    <%= pie_chart data, colors: colors %>
  </div>
</div>

<div class="wrapper-profile">
  <div class="container pt-5">
    <div class="form d-flex justify-content-center">
      <div class="form-body flex-grow">
        <%= simple_form_for(:date, url: monthly_summary_path, method: :get) do |f| %>
          <%= f.input :date, collection: Expense::MONTHS, label: false %>
          <div class="form-submit-summary ml-2">
            <%= f.submit 'Search'%>
          </div>
      <% end %>
    </div>
    </div>

    <div class="categories d-flex mb-5 mt-2 justify-content-around">
      <% @categories.each do |category| %>
        <div class="category d-flex align-items-center py-4">
          <i class="fas fa-circle circle-<%= category.downcase %> mr-1"></i>
          <p class="mb-0"><%= category %></p>
        </div>
      <% end %>
    </div>

    <div class="expenses">
      <% @user_expenses.each do |user_expense| %>

        <div class="expense-card mt-2">
          <div class="expense-content">
            <div class="expense-category-<%= user_expense.expense.category.downcase %>"></div>
            <div class="expense-info">
              <p class="description"><%= user_expense.expense.description %></p>
              <p class="mb-0">€ <%= format_cost(user_expense.expense.amount.round(2)) %></p>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


