<div class="container">

  <div class="avatar">
    <% if user_signed_in? %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key) %>
      <% else %>
        <%= image_tag 'default_avatar.png', style: 'width:100px;' %>
      <% end %>
    <% end %>
  </div>

  <h1 class="name-header"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h1>

  <div class="new-flat-form">
    <h2>Create a new flat</h2>
    <%= simple_form_for(@flat) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :name, placeholder: 'Introduce a flat name', label: false %>

        <h2>Add flatmates</h2>
        <div data-controller="flat" class="addflatmates">
          <input id="email-input" class="email-input" data-target="flat.email" type="text" name="email", placeholder="Flatmate email">
          <input id="rent-input" class="rent-input" data-target="flat.rent" type="text" name="flatmate_rent", placeholder="Rent">
          <div data-action="click->flat#fetchMate" class="add-flat-mate">Add</div>
        </div>
      <div id="user-container" class="user-container">

      </div>
      <div class="form-submit-new">
       <%= f.submit 'Create flat', class:'primarybtn' %>
      </div>
  <% end %>
  </div>
</div>
