<%= render 'shared/navbar' %>

<div class="container">

  <h1 id="homepage-title"><%= @flat.name %></h1>

  <div class="balance-card">
    <div class="user-balance">
      <div class="user-image">
        <div class="medium-avatar" style="background-image: url(<%= current_user.photo_url %>)"></div>
      </div>
      <h1> € <%= format_cost(current_user.current_month_total_expenses) %></h1>
    </div>

    <div class="others-balance">
      <div class="flatmates-container">
        <% @flat.users.each do |user| %>
        <div class="small-avatar" style="background-image: url(<%= user.photo_url %>)"></div>
        <% end %>
      </div>
       <h2><span>Total: </span>€ <%= format_cost(@flat.total_expenses) %> </h2>
    </div>
  </div>

  <h2 class="mt-3">Expenses</h2>

  <div class="expenses">
    <% @expenses.each do |expense| %>
      <div class="card-expense">
        <div class="small-avatar" style="background-image: url(<%= expense.creator.photo_url %>)"></div>
        <div class="color-separator expense-category-<%= expense.category.downcase %>"></div>
        <div class="expense-info">
          <h3> <%= expense.category %> </h3>
          <p> <%= expense.created_at.strftime("%m/%d/%Y") %> </p>
        </div>
        <div class="card-price">
          <h2 id="expense-card-bold">€ <%= format_cost(expense.amount) %> </h2>
        </div>
      </div>
    <% end %>
  </div>


</div>
<div class="fixed-btn">
  <%= link_to 'Create an expense', "/flats/#{current_user.flat.id}/expenses/new", class:'primarybtn btn-fixed' %>
</div>
