<nav class="navbar navbar-expand-lg navbar-light bg-light text-center mb-2" style="background-color: #04AF88 !important">
  <%= link_to root_path do %>
    <strong><p class="mb-0 text-white">Flatify</p></strong>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars navbar-icon text-white"></i>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to root_path do %>
          <h3 class="nav-link mb-0 dashboard-link">Dashboard<span class="sr-only">(current)</span></h3>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to profile_path do %>
          <h3 class="nav-link mb-0 dashboard-link">Profile</h3>
        <% end %>
      </li>
      <% if current_user && policy(current_user.flat).edit? %>
        <li class="nav-item">
          <%= link_to edit_flat_path(current_user.flat) do %>
            <h3 class="nav-link mb-0 dashboard-link">Edit flat</h3>
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <h3 class="nav-link" tabindex="-1" aria-disabled="true">Log out</h3>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
