<%= render '/shared/navbar' %>


  <div class="hero">
    <h2 class="value-proposition">Share <br> fair</h2>
    <div class="pizza-img">
      <h5 class="description-value">Manage and keep track of your house expenses with your flatmates</h5>
    </div>

  </div>



<div class="container">
  <div class="cards">
    <!--SHARE CARD -->
    <div class="share-card d-flex">
      <div class="card-content">
      <strong><h3 class="title">1. Share your expenses</h3></strong>
        <p>Upload your expenses and share them with your flatmates</p>
      </div>
      <%= cl_image_tag('https://res.cloudinary.com/dinkluxtp/image/upload/v1601551094/upload_kwekh0.svg') %>
    </div>

    <!--TRACK CARD -->
    <div class="track-card d-flex">
      <%= cl_image_tag('https://res.cloudinary.com/dinkluxtp/image/upload/v1601551092/choose_ahfgvz.svg') %>
      <div class="card-content ml-3">
        <strong><h3 class="title">2. Keep track</h3></strong>
        <p>Follow the expenses done by your flatmates in real time</p>
      </div>
    </div>

    <!---CONCILIATE CARD -->
    <div class="conciliate-card d-flex">
      <div class="card-content">
      <strong><h3 class="title">3. Evenly split payments</h3></strong>
        <p>Automatically divide the expenses and find peace at home</p>
      </div>
      <%= cl_image_tag('https://res.cloudinary.com/dinkluxtp/image/upload/v1601551093/friends_iuvleg.svg') %>
    </div>
  </div>
  <div class="fixed-btn">
    <%= link_to dashboard_path do %>
      <p class="primarybtn text-center mb-0">Get started</p>
    <% end %>
  </div>
</div> <!--- CONTAINER -->
