<div class="menu-navbar">
  <p class="container">Flatify</p>
  <p><i class="fas fa-bars container ml-3"></i></p>
</div>

 <div class="container">

  <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, '#'  %>


 </div>


  <h1 id="expense-header"><strong>New expense</strong></h1>
  <h2 id="categories-header"><strong>Categories</strong></h2>
  <div class="form-post">
    <%= simple_form_for([@flat, @expense]) do |f| %>
      <%#= f.input :category, collection: Expense::CATEGORIES, include_blank: false, prompt: "Select category" %>

      <div class="category-choices">
      <% Expense::CATEGORIES.each do |category| %>
        <input type="radio" class="hidden" value="<%= category %>" name="expense[category]" id="post_category_<%= category %>">
        <label data-color="<%= Expense.map_cat_to_color(category) %>" class="category-choice" for="post_category_<%= category %>" style="color: <%= Expense.map_cat_to_color(category) %>" style="border-color: <%= Expense.map_cat_to_color(category) %>">
          <%= category %>
        </label>
      <% end %>
     </div>
      <%= f.input :amount, label: "Details", label_html: { class: "label-fonts" }, input_html: { class: "details-box" }, placeholder: "€0.00" %>
      <%= f.input :description, label: false, as: :text, placeholder: "E.g. Bought more beers for the fridge." %>

      <div class="d-flex justify-content-between">
        <%= f.input :payment_month, as: :date, discard_day: true, discard_year: true, label: false, input_html: { class: "wide-input-dates" } %>
        <!---- start_year: Date.today.year - 1, end_year: Date.today.year + 1 --->
        <%= f.input :payment_year, as: :date, discard_day: true, discard_month: true, label: false, start_year: Date.today.year - 1, end_year: Date.today.year + 1, input_html: {class: "wide-input-dates" }  %>
      </div>
      <div class="flatmates-choices">

        <% @flat.users.each do |user| %>
          <input type="checkbox" class="hidden" value="<%= user.id %>" name="user_expense[user][]" id="user_<%= user.id %>">
          <label for="user_<%= user.id %>">

            <img  class="medium-avatar" src="<%= user.photo_url %>" alt="">
            <%= user.first_name %>
          </label>
        <% end %>
      <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera-retro"></i> Upload a photo'.html_safe %>
      </div>
      <div class="expense-button">
        <%= f.submit class: "primarybtn expense-button-centered" %>
      </div>
  <% end %>

  </div>



