<%= render '/shared/navbar' %>

<div class="container" data-controller="expense">
  <div class="header-flex">
    <%= link_to '<i class="fas fa-arrow-left back-arrow"></i>'.html_safe, en_dashboard_path  %>
  </div>

  <div class="form-post">
    <%= simple_form_for([@flat, @expense]) do |f| %>

      <div class="category-choices">
        <% Expense::CATEGORIES.each do |category| %>
          <input type="radio" class="hidden" value="<%= category %>" name="expense[category]" id="post_category_<%= category %>">
          <label data-color="<%= Expense.map_cat_to_color(category) %>" class="category-choice" for="post_category_<%= category %>" style="color: <%= Expense.map_cat_to_color(category) %>" style="border-color: <%= Expense.map_cat_to_color(category) %>">
            <%= category %>
          </label>
        <% end %>
      </div>

      <div class="error">
        <%= f.full_error(:category) %>
      </div>
      <%= f.input :amount, label: false, label_html: { class: "label-fonts" }, input_html: { class: "details-box", data: { target: 'expense.amount', action: "keyup->expense#changeInputColor" } }, placeholder: "0.00€" %>
      <%= f.input :description, label: false, as: :text, placeholder: "e.g. Salt, cat food..." %>
      <div class="d-flex justify-content-between">
        <%= f.input :payment_month,  collection: Expense::MONTHS, selected: Date.today.strftime("%B"),label: false, input_html: { class: "wide-input-dates" }, include_blank: false %>
        <%= f.input :payment_year, label: false, collection: (Date.today.year - 1..Date.today.year + 1), selected: Date.today.year, include_blank: false, input_html: {class: "wide-input-dates" }  %>
      </div>

      <div class="flatmates-choices">
        <div class="new-mate-card position-relative">
          <div class="mate-card-complete user-container">
            <% @flat.users.each do |user| %>
              <input type="checkbox" checked class="hidden mate-input" value="<%= user.id %>" name="user_expense[user][]" id="user_<%= user.id %>">
              <label for="user_<%= user.id %>">
                <div class="add-mate-card new-expense-user active" data-target="expense.user">
                  <div class="medium-avatar" style="background-image: url(<%= user.photo_url %>)" alt=""></div>
                  <p> <%= user.first_name || 'Nameless' %> </p>
                </div>
              </label>
            <% end %>
          </div>
        </div>

        <div class="error">
          <%= f.full_error(:flatmates) %>
        </div>

        <div class="display-photo-middle">
          <%= image_tag "", class: "hidden", id: "photo-expense-preview" %>
        </div>
        <div class="add-photo mt-3 mb-3">
          <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo' }, label: '<i class="fas fa-cloud-upload-alt fa-2x"></i><h3 class="ml-2 mt-2 flatmate-name">Upload photo</h3>'.html_safe %>
        </div>

        <div class="expense-button">
          <%= f.submit class: "primarybtn expense-button-centered" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
