<h1>New Expense</h1>

<div class="form-post">
  <%= simple_form_for([@flat, @expense]) do |f| %>
    <%#= f.input :category, collection: Expense::CATEGORIES, include_blank: false, prompt: "Select category" %>

    <div class="category-choices">
    <% Expense::CATEGORIES.each do |category| %>
      <input type="radio" class="hidden" value="<%= category %>" name="expense[category]" id="post_category_<%= category %>">
      <label data-color="<%= Expense.map_cat_to_color(category) %>" class="category-choice" for="post_category_<%= category %>" style="border-color: <%= Expense.map_cat_to_color(category) %>">
        <%= category %>

      </label>
    <% end %>
   </div>
    <%= f.input :amount, placeholder: "€0.00" %>
    <%= f.input :description, as: :text, placeholder: "E.g. Bought more beers for the fridge." %>
    <%= f.input :payment_month, as: :date, discard_day: true, start_year: Date.today.year - 1, end_year: Date.today.year + 1 %>
    <%= simple_fields_for :user_expense do |u|  %>
      <%= u.input :user, collection: User.where(flat: @flat).pluck(:first_name), input_html: { multiple: true } %>
    <% end %>

    <%= f.submit %>
<% end %>

</div>

