<div class="container">
  <div class="total-amount-exp">
    <h3>Amount</h3>
    <h1>€ <%= @expense.amount %></h1>
  </div>

  <div class="creator-card">
    <p>Created by</p>
    <%= image_tag @creator.photo_url, class:'small-avatar' %>
  </div>

  <div class="user-amount">
    <h2>You have to pay € <%= @user_amount %></h2>
  </div>

  <div class="expense-information">
    <h3> <%= @expense.category %> </h3>
    <h3>Description</h3>
    <p> <%= @expense.description.capitalize %> </p>

    <h3>Shared with</h3>
      <% @expense.users.each do |user| %>
        <div class="sharing-card-expense">
          <%= image_tag user.photo_url, class:'small-avatar' %>
          <p><%= user.first_name %></p>
          <p>€ <%= @user_amount %></p>
        </div>
      <% end %>


  </div>



</div>
