<%= render '/shared/navbar' %>
<div class="category-exp-<%= @expense.category.downcase %>">
  <div class="total-amount-exp">
    <h1><%= format_cost(@expense.amount.round(2)) %>€</h1>
    <h3 class="exp-cat mb-3"> <%= @expense.category %> </h3>
  </div>
</div>

<div class="wrapper-exp">
  <div class="container-sh-ex">
    <div class="creator-card d-flex align-items-center">
      <div class="creator-avatar" style="background-image: url(<%= @creator.photo_url %>)"></div>
      <div class="creator-info">
        <h3><span style="font-weight: 300;">Created by </span> <%= @expense.creator.first_name %></h3>
        <p style="margin: 0;"><strong>From:</strong> <%= @expense.created_at.strftime("%d %B %Y") %></p>
      </div>
    </div>
    <div class="information-exp-body">

      <div class="exp-date">
        <div class="backbutn">
          <%= link_to '<i class="fas fa-arrow-left back-arrow"></i>'.html_safe, dashboard_path %>
        </div>
      </div>

      <div class="user-amount-<%= @expense.category.downcase %> p-3">
        <h2 class="mb-0" style="font-weight: 300;">You have to pay</h2>
        <% if @expense.users.include?(current_user) %>
            <h2 class="mb-0"> <%= format_cost(@user_amount.round(2)) %>€</h2>
          <% else %>
            <h2 class="mb-0">0€</h2>
          <% end %>
      </div>

    </div>

      <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="Details" aria-selected="true">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="Comments" aria-selected="false">Comments</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
          <div class="expense-information">
            <p class="desc-exp mb-5 mt-5"> <%= @expense.description.capitalize %> </p>

            <% if @expense.photo.attached? %>
            <%= image_tag @expense.photo.service_url, class:'exp-imag' %>
            <% else %>
            <%= "" %>
            <% end %>
          </div>

          <div class="expenses-show">
            <% @expense.users.each do |user| %>
              <div class="card-expense">
                <div class="small-avatar" style="background-image: url(<%= user.photo_url %>)"></div>
                <div class="color-separator expense-category-<%= @expense.category.downcase %>"></div>
                <div class="expense-info">
                  <h3 class="name-user-exp"> <%= user.first_name %> </h3>
                </div>
                <div class="card-price">
                  <h2 id="expense-card-bold">€ <%= format_cost(@user_amount.round(2)) %> </h2>
                </div>
              </div>
             <% end %>
          </div>
        </div>

        <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">

          <div class="comment-box mt-3">
            <% if !@expense.comments.blank? %>
              <h3 class="mt-4">Comments 📝</h3>
            <% else %>
            <% @comments.each do |comment| %>
                <div class="comment-card" id="<%=comment.id%>-review">

                  <div class="comment-info">
                    <div class="small-avatar" style="background-image: url(<%= comment.user.photo_url %>)"></div>
                    <div class="comment-user-data">
                      <p><strong><%= comment.user.first_name %></strong></p>
                      <p class="date-string"><%= comment.created_at.strftime("%d %B %Y") %></p>
                    </div>
                  </div>

                  <div class="comment-cont">
                    <p class="m-0"><%= comment.content %></p>
                  </div>

                </div>
              <% end %>
            <% end %>
          </div>
          <h3>Leave a comment 📝</h3>

            <%= simple_form_for([ @expense, @comment ]) do |f| %>
              <%= f.input :content, as: :text, placeholder: 'Type a comment', label: false, input_html: { class: "comment-cont-input"} %>
              <div class="secondarybtn-category-ex">
                <%= f.button :submit, 'Post comment', class: "category-color-button" %>
              </div>

            <% end %>
        </div>
      </div>
  </div>
</div>
