<!DOCTYPE html>
<html>
  <head>
    <title>Flatify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Hind:wght@300;400;500;600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <div class="navbar">
      <div class="avatar">
        <% if user_signed_in? %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag(current_user.photo.key) %>
          <% else %>
            <%= image_tag('default_avatar.png') %>
          <% end %>
        <% end %>

      </div>
    </div>

    <%= yield %>
  </body>
</html>
